<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Server>irc.twitch.tv</Server>
  <Channel>#rickrofl</Channel>
  <Nick>rickroflbot</Nick>
  <Password>oauth:9ki803jlsxcjwfvvxn1kgtw7kcs00jx</Password>
  <Commands>
    <Hello>Oh hi.</Hello>
    <Joke>Why did the chicken cross the road? To get to the other side!</Joke>
    <Help>Hm.... Nope.</Help>
  </Commands>
</configuration>